x-mautic-volumes: &mautic-volumes
  - mautic:/mautic/config:/var/www/html/config
  - mautic:/mautic/logs:/var/www/html/var/logs
  - mautic:/mautic/media/files:/var/www/html/docroot/media/files
  - mautic:/mautic/media/images:/var/www/html/docroot/media/images
  - mautic:/mautic/cron:/opt/mautic/cron

services:
  mautic_db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -u$$MYSQL_USER -p$$MYSQL_PASSWORD"]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      mysql_private:
        aliases:
          - mautic_db_${BRAND_NAME}

  mautic_web:
    image: mautic/mautic:${MAUTIC_VERSION:-6.0.5-apache}
    volumes: *mautic-volumes
    env_file:
      - .mautic_env
    environment:
      DOCKER_MAUTIC_LOAD_TEST_DATA: ${DOCKER_MAUTIC_LOAD_TEST_DATA}
      DOCKER_MAUTIC_RUN_MIGRATIONS: ${DOCKER_MAUTIC_RUN_MIGRATIONS}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 100
    depends_on:
      mautic_db:
        condition: service_healthy
    networks:
      traefik_web:
        aliases:
          - mautic_web_${BRAND_NAME}
      mysql_private:
    labels:
      - traefik.enable=true
      - traefik.http.routers.mautic_${BRAND_NAME}.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.mautic_${BRAND_NAME}.entrypoints=websecure
      - traefik.http.routers.mautic_${BRAND_NAME}.tls=true
      - traefik.http.routers.mautic_${BRAND_NAME}.tls.certresolver=letsencrypt
      - traefik.http.services.mautic_${BRAND_NAME}.loadbalancer.server.port=80
      - traefik.http.middlewares.mautic_${BRAND_NAME}-headers.headers.customRequestHeaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.mautic_${BRAND_NAME}-headers.headers.customRequestHeaders.X-Forwarded-Host=${DOMAIN}
      - traefik.http.routers.mautic_${BRAND_NAME}.middlewares=mautic_${BRAND_NAME}-headers

  mautic_cron:
    image: mautic/mautic:${MAUTIC_VERSION:-6.0.5-apache}
    volumes: *mautic-volumes
    env_file:
      - .mautic_env
    environment:
      DOCKER_MAUTIC_ROLE: mautic_cron
    depends_on:
      mautic_web:
        condition: service_healthy
    networks:
      mysql_private:

  mautic_worker:
    image: mautic/mautic:${MAUTIC_VERSION:-6.0.5-apache}
    volumes: *mautic-volumes
    env_file:
      - .mautic_env
    environment:
      DOCKER_MAUTIC_ROLE: mautic_worker
    depends_on:
      mautic_web:
        condition: service_healthy
    networks:
      mysql_private:
    deploy:
      replicas: 1

volumes:
  mysql-data:
  mautic:

networks:
  traefik_web:
    external: true
  mysql_private:
    external: true
