# Static configuration
entryPoints:
  web:
    address: ":80"
    http:
           
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

api:
  dashboard: true
log:
  level: INFO
accessLog: {}
certificatesResolvers:
  letsencrypt:
    acme:
      email: dasmedium.co@gmail.com
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

providers:
  docker:
    network: traefik_web
    exposedByDefault: false
    # allowEmptyServices: true
    # Add this to enable Swarm mode

http:                                                                                                            
  middlewares:                                                                                                   
    https-redirect:                                                                                              
      redirectScheme:                                                                                            
        scheme: https                                                                                            
        permanent: true                                                                                          
    security-headers:                                                                                           
      headers:                                                                                                  
        sslRedirect: true                                                                                       
        stsSeconds: 31536000                                                                                    
        stsIncludeSubdomains: true                                                                              
        stsPreload: true                                                                                        
        forceSTSHeader: true                                                                                    
        frameDeny: true                                                                                         
        contentTypeNosniff: true                                                                                
        browserXssFilter: true                                                                                  
        referrerPolicy: "strict-origin-when-cross-origin"