# Static configuration
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
      
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

api:
  dashboard: true
log:
  level: INFO
accessLog: {}
certificatesResolvers:
  letsencrypt:
    acme:
      email: dasmedium.co@gmail.com
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

providers:
  docker:
    network: traefik_web
    exposedByDefault: false
    # allowEmptyServices: true
    # Add this to enable Swarm mode

# http:                                                                                                            
#   middlewares:                                                                                                   
#     https-redirect:                                                                                              
#       redirectScheme:                                                                                            
#         scheme: https                                                                                            
#         permanent: true  

# Security headers middleware
http:
middlewares:
  security-headers:
    headers:
      sslRedirect: true
      stsSeconds: 31536000
      stsIncludeSubdomains: true
      stsPreload: true
      forceSTSHeader: true
      frameDeny: true
      contentTypeNosniff: true
      browserXssFilter: true
      referrerPolicy: "strict-origin-when-cross-origin"
      featurePolicy: "camera 'none'; microphone 'none'; geolocation 'none'"
      permissionsPolicy: "camera=(), microphone=(), geolocation=()"
